

/*FUENTES*/

@font-face {
        font-family: 'Pacifico-Regular';
        src: url('../fuentes/Pacifico/Pacifico-Regular.ttf')  format('truetype');
}

@font-face {
        font-family: 'Playfair_Display';
        src: url('../fuentes/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')  format('truetype');
}

@font-face {
        font-family: 'Montserrat';
        src: url('../fuentes/Montserrat-VariableFont_wght.ttf')  format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Roboto&display=swap');

/*ESTILOS GENERALES*/	

*{
	margin: 0;
	padding:  0;
}

body {
	background: whitesmoke;
}

/*INICIO CAMBIO DE FONDO*/

#changebd{
	width: 100%;
	display: grid;
	grid-template-columns: 100% 100% 100% 100%;
	overflow: hidden;
	animation: changebd 50s infinite alternate ease;
	animation-delay: 5s;
	position: absolute;
}

.beach_bg{
	background-image: url('../imagenes/fondo.jpg');
	background-size: 100vw 700px;
	background-repeat: no-repeat;
	height: 650px;
}

.nightcity_bg{
	background-image: url('../imagenes/nightcity.jpg');
	background-size: 100vw 700px;
	background-repeat: no-repeat;
	height: 650px;
}

.snow_bg{
	background-image: url('../imagenes/snow.jpg');
	background-size: 100vw 700px;
	height: 650px;
}

.egypt_bg{
	background-image: url('../imagenes/egypt.jpg');
	background-size: 100vw 700px;
	background-repeat: no-repeat;
	height: 650px;
}

.darker{
	width: 100%;
	height: 100%;
	background-color: #0000006e;
}

@keyframes changebd {
  	0% {
		grid-template-columns: 100% 100% 100% 100%;
  	}
  	25%{
  		grid-template-columns: 100% 100% 100% 100%;
  	}
  	30%{
  		grid-template-columns: 0% 100% 100% 100%;
  	}
  	55%{
  		grid-template-columns: 0% 100% 100% 100%;
  	}
  	60%{
  		grid-template-columns: 0% 0% 100% 100%;
  	}
  	85%{
  		grid-template-columns: 0% 0% 100% 100%;
  	}
  	90%{
  		grid-template-columns: 0% 0% 0% 100%;
  	}
  	100%{
  		grid-template-columns: 0% 0% 0% 100%;
  	}
}

/*FIN CAMBIO DE FONDO*/

#full_container{
	margin-left: 100px;
	margin-right: 100px;
}

/*INICIO CABECERA*/

header{
	z-index: 1;
	position: relative;
}

#headerTable{
	width: 100%;
	margin: 0px auto;
	padding: 12px 0px;
	text-align: center;
}

#logo{
	color: white;
	font-size: 2.8vw;
}

#logo > p{
	font-family: 'Pacifico-Regular';
}

#logo > img{
	width: 100%;
	border-radius: 4px;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 2;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	padding-top: 100px;
	justify-content: right;
}

#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
}

.contenedor {
	width: 400px;
	height: 150px;
	margin: auto;
	background-color: white;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	transform: translateY(-30%);
}

#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
}

.contenedor p {
	padding: 10px;
	background-color: #db8046;
	color: white;
	text-align: left;
}

.contenedor label {
	position: relative;
	top: -30px;
	left: 180px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	padding: 2px 4px;
}

#btn-modal{
	display: none;
}

.lbl-modal {
	background-color: #0071c2;
	padding: 10px;
	color: white;
	font-family: sans-serif;
	border-radius: 4px;
	cursor: pointer;
	width: 165px;
	display: block;
}

.contenido{
	margin-top: 20px;
}

.idioma{
	position: relative;
	background-color: #0071c2;
	padding: 10px;
	margin: 10px;
	color: white;
	font-family: sans-serif;
	border-radius: 4px;
	text-decoration: none;
}

.cajaReg, .cajaIni, .cajaPerfil{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 41px;
	background-color: white;
	border: 1px solid #0071c2;
	padding: 0 10px;
	color: #0071c2;
	font-family: sans-serif;
	text-decoration: none;
}

.cajaIni{
	width: 100px;
}

.cajaReg{
	width: 80px;
}

.cajaPerfil{
	padding: 0 5px;
	width: auto;
}

.perfil{
	position: relative;
	display: block;
	left: 0px;
	padding-right: 5px;
	width: 30px;
	height: 30px;
}

/*FIN CABECERA*/

/*INICIO BARRA DE BÚSQUEDA*/

#barra_busqueda{
	margin: 0px auto;
	border-radius: 4px;
	background-color: orange;
	margin-bottom: 20px;
	width: calc(100% - 5px);
	height: 50px;
}

.input_destino {
	width: 100%;
	border: none;
	border-radius: 4px;
	background-image: url('../multimedia/location.png');
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: 10px;
	padding: 14px 0px;
	text-indent: 60px;
}

.input_fechas {
	border: none;
	border-radius: 4px;
	background-image: url('../multimedia/schedule.png');
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: 10px;
	background-color: white;
	/* padding: 14px 0px; */
	text-align: left;
	text-indent: 60px;
	cursor: pointer;
	color: #757272;
	width: 100%;
	line-height: 44px;
}

.input_huespedes {
	border: none;
	border-radius: 4px;
	background-image: url('../multimedia/people.png');
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: 10px;
	background-color: white;
	text-indent: 30px;
	padding: 14px 20px;
	cursor: pointer;
	color: #757272;
	width: 100%;
}

.input_buscar {
	border: none;
	background-image: url('../../../multimedia/search.png');
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 10px;
	background-color: #0071c2;
	text-indent: 20px;
	padding: 6px 20px;
	cursor: pointer;
	color: white;
	font-family: sans-serif;
	font-size: 26px;
	width: 100%;
}

/*FIN BARRA DE BÚSQUEDA*/

/*INICIO DESTINOS*/

#destinos {
	box-shadow: inset 3px 0px 2px 0px #0000005e, inset 0px 0px 2px #0000005e, inset -3px 0px 2px 0px #0000005e;
	z-index: 0;
	position: relative;
	padding-top: 20px;
	border-radius: 8px;
	background: #ffffff6b;
	width: 100%;
	margin: 0px auto;
}

#destacadas {
	width: 250px;
	background-color: #0071c2;
	border-radius: 0px 4px 0px 0px;
	text-align: center;
	color: whitesmoke;
	padding: 10px;
	font-family: sans-serif;
	margin-left: 3px;
}

.section1{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin-top: 10px;
	text-align: center;
}


.ciudades {
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	/* width: 250px; */
	height: 22vw;
	padding: 10px;
	margin: 0px auto;
	max-height: 330px;
}

.img_ciudad{
	border-radius: 10px;
	height: 70%;
	width: 90%;
	box-shadow: 1px 1px 3px 0px #242323, 2px 2px 3px #0600cc;
	transition:  all 200ms;
}
.ciudad{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 22px;
	text-shadow: 1px 1px 3px #fff;
	text-decoration: none;
	color: black;
	transition: all 100ms;
}

.ciudad:hover{
	text-shadow: 2px 2px #ffe5e5;
	font-size: 26px;
	color: #000;
}

.img_ciudad:hover{
	width: 100%;
	height: 80%;
}

/*FIN DESTINOS*/

/*INICIO SECCIÓN BIENVENIDA*/

#bienvenida {
	width: calc(100% - 200px);
	text-align: center;
	/* margin: 0px auto; */
	/* position: relative; */
	/* margin-top: 70px; */
	top: 620px;
	position: absolute;
	/* justify-content: center; */
	/* right: 8%; */
	left: 100px;
}

.text_intro{
	margin: 0px auto;
	border-radius: 4px;
	background-color: orange;
	padding: 2px;
	margin-bottom: 20px;
}

.text_intro p {
	border: none;
	border-radius: 4px;
	background-image: url('../multimedia/plane_route.png');
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: 100% -8px;
	background-color: white;
	text-indent: -40px;
	padding: 14px;
	color: #757272;
	font-size: 24px;
}

#cajaArt{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-row-gap: 20px;

}

#imgSki{
	border-radius: 0px 8px 8px 0px;
	box-shadow: 1px 1px 3px #757272, 0px -1px 3px #757272, 2px 2px 2px #6e49d570;
	width: 100%;
	height: 100%;
}

#imgPack{
	border-radius: 8px 0px 0px 8px;
	box-shadow: 0px 1px 3px #757272, -1px -1px 3px #757272, -2px -2px 2px #6e49d570;
	width: 100%;
	height: 100%;
}

.textOfert {
	text-align: justify;
	background-color: #7572721c;
	border-radius: 8px 0px 0px 8px;
	box-shadow: 0px 1px 3px #757272, -1px -1px 3px #757272, -2px -2px 2px #6e49d570;
	font-family: 'Playfair_Display';
}

.textOfert h2 {
	width: 60%;
	background-color: #0071c2;
	border-radius: 0px 4px 0px 0px;
	color: whitesmoke;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

.textOfert p{
	font-size: 19px;
	padding-right: 25px;
	padding-left: 25px;
}


.botonesBienv {
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	font-size: 16px;
	font-family: sans-serif;
	background-color: #0d2123;
	padding: 15px;
	cursor: pointer;
	transition: all 200ms;
	border: 2px solid #0d2123;
	letter-spacing: 2px;
	border-radius: 4px;
}
.botonesBienv:hover{
	background-color: #7572721c;
	color: #0d2123;
	border: 2px solid #0d2123;
}

.formOfert {
	display: grid;
	grid-template-columns: 150px 50%;
	margin: 60px 20px 0px 20px;
}

.formOfert img {
	position: relative;
	width: 65px;
	margin-left: 15px;
	bottom: 8px;
}

.formPack {
	display: grid;
	grid-template-columns: 1fr 36%;
	margin: 60px 20px 0px 20px;
}

.formPack img {
	position: relative;
	width: 65px;
	margin-left: auto;
	margin-right: 15px;
	bottom: 8px;
}

.textPack {
	text-align: justify;
	background-color: #7572721c;
	border-radius: 0px 8px 8px 0px;
	box-shadow: 1px 1px 3px #757272, 0px -1px 3px #757272, 2px 2px 2px #6e49d570;
	font-family: 'Playfair_Display';
}

.textPack h2 {
	width: 60%;
	background-color: #0071c2;
	border-radius: 4px 0px 0px 0px;
	color: whitesmoke;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	margin-left: auto;
}

.textPack p{
	font-size: 19px;
	padding-right: 25px;
	padding-left: 25px;
}

/*FIN SECCIÓN BIENVENIDA*/

/*INICIO PUBLICIDAD*/

#publi {
	position: relative;
	top: 900px;
	border: 1px solid black;
	width: calc(100% - 200px);
	height: 300px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 50% 50%;
}

.img-publi1 {
	border: 1px solid blue;
	background-image: url('../imagenes/skyscanner.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #0770e3;
	background-size: 330px;
	text-decoration: none;
}

.img-publi1 p {
	font-family: 'Anton', sans-serif;
	top: 220px;
	position: relative;
	color: white;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

.img-publi2 {
	border: 1px solid blue;
	background-image: url('../imagenes/rentalcars.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #0770e32e;
	background-size: 330px;
	text-decoration: none;
}

.img-publi2 p {
	font-family: 'Anton', sans-serif;
	top: 220px;
	position: relative;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

footer{
	position: relative;
	top: 880px;
	background-color: whitesmoke;
	padding: 0px 100px;
	font-family: sans-serif;
	text-align: right;
}

#autor {
	padding-top: 30px;
	width: 100%;
	margin: 0px auto;
	color: #000000c4;
}

#autores{
	background-color: #dbdbdb;
	border-radius: 0px;
	color: black;
	text-align: center;
	margin: 30px 0px;
	line-height: 50px;
	font-family: 'sans-serif';
	font-size: 14px;
	box-shadow: inset 2px 2px 3px #fff, inset -2px -2px 3px #685555;
	text-shadow: 1px 1px 2px #0000ffe8, 1px 1px 3px white;
	border: 2px solid #7070bd;
	border-radius: 6px;
	padding: 6px;
	text-decoration: none;
}