@font-face {
        font-family: 'Pacifico-Regular';
        src: url('../../fuentes/Pacifico/Pacifico-Regular.ttf')  format('truetype');
}

@font-face {
        font-family: 'Playfair_Display';
        src: url('../../fuentes/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')  format('truetype');
}

@font-face {
        font-family: 'Montserrat';
        src: url('../../fuentes/Montserrat-VariableFont_wght.ttf')  format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url('../../imagenes/door-to-heaven-1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center -150px;
}

#full_container{
	height: 100vh;
	padding-left: 100px;
	padding-right: 100px;
	background-color: rgba(0, 0, 0, 0.3);
}

header{
	z-index: 1;
	position: relative;
}

#headerTable{
	width: 100%;
	margin: 0px auto;
	padding: 12px 0px;
	text-align: center;
}

#logo{
	color: white;
	font-size: 2.8vw;
}

#logo > p{
	font-family: 'Pacifico-Regular';
}

#logo > img{
	width: 100%;
	border-radius: 4px;
}

.bienvenido {
	display: inline-block;
	width: auto;
	background-color: #0071c2;
	padding: 10px 20px;
	margin-left: auto;
	margin-right: 0;
	color: white;
	border-radius: 4px 0px 4px 0px;
	font-family: sans-serif;
	text-decoration: none;
	box-shadow: inset 2px 2px 0px white, inset -2px -2px 0px #ffffff85;
	transition: all 50ms;
}

#form-container{
	width: 300px;
	margin: 0 auto;
}

form{
	background: #000000bd;
	margin: 0px auto;
	padding: 20px;
	border-radius: 5px;
}

fieldset{
	color: white;
	font-size: 26px;
	text-align: center;
}

fieldset input{
	width: calc(90% - 10px);
}

fieldset p{
	margin: 20px 5px;
	margin-bottom: 0px;
	font-size: 16px;
	text-align: center;
}

fieldset img{
	width: 35px;
	margin-top: 20px;
	text-align: center;
}

.volver-iniciarSesion{
	display: block;
	width: 120px;
	margin: 20px auto;
	background-color: #0071c2;
	text-decoration: none;
	border-radius: 3px;
	color: white;
	padding: 7px 10px;
	text-align: center;
	border:none;
	margin-bottom: 20px;
	cursor: pointer;
}

#section-php{
	margin: 0 auto;
	margin-top: 40px;
}

#section-php p{
	text-align: center;
}