@font-face {
	font-family: 'Pacifico-Regular';
	src: url('../../fuentes/Pacifico/Pacifico-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'Playfair_Display';
	src: url('../../fuentes/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')  format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fuentes/Montserrat-VariableFont_wght.ttf')  format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../../imagenes/settings.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -250px;
    background-attachment: fixed;
}


#full_container_datosMod, #full_containerOpcionesRoot{
    padding-left: 100px;
    padding-right: 100px;
    width: calc(100vw -200px);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#full_containerOpcionesRoot{
    width: auto;
    height: unset;
    padding-bottom: 100px
}

header {
    /* z-index: 1; */
    position: relative;
}

#headerTable {
    width: 100%;
    margin: 0px auto;
    padding: 12px 0px;
    text-align: center;
}

#logo {
    color: white;
    font-size: 2.8vw;
}

#logo>p {
    font-family: 'Pacifico-Regular';
}

#logo>img {
    width: 100%;
    border-radius: 4px;
}

.volver {
    background-color: #0071c2;
    padding: 10px 20px;
    color: white;
    border-radius: 4px 0px 4px 0px;
    font-family: sans-serif;
    text-decoration: none;
    box-shadow: inset 2px 2px 0px white, inset -2px -2px 0px #ffffff85;
    transition: all 50ms;
}

.volver:hover {
    background-color: white;
    border: 2px solid #0071c2;
    padding: 12px 22px;
    color: #0071c2;
    box-shadow: none;
    font-size: 18px;
}

.cajaPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    background-color: white;
    border: 1px solid #0071c2;
    padding: 0 10px;
    color: #0071c2;
    font-family: sans-serif;
    border-radius: 4px;
}

.perfil {
    position: relative;
    display: block;
    left: 0px;
    padding-right: 5px;
    width: 30px;
    height: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#form-container {
    width: auto;
}

form, .listarForm {
    background: #000000bd;
    margin: 0px auto;
    padding: 20px;
    border-radius: 5px;
}

fieldset {
    color: white;
    font-size: 26px;
    text-align: center;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
}

fieldset input {
    width: calc(90% - 10px);
}

.opcion {
    width: auto;
    background-color: #0071c2;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    padding: 7px 17px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
}

/*------------------------------------------------FORM ROOT--------------------------------------------------*/

#fieldset-root{
    color: white;
    font-size: 26px;
    text-align: center;
    padding: 15px;
    display: flex;
}

#fieldset-root select {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	font-family: sans-serif;
	background-color: #3196b0b5;
	color: white;
	border-radius: 4px;
	border: 2px solid #e6dcdc;
	font-size: 16px;
	padding: 5px 10px;
}


/*---------------------------------------------LISTAR USUARIOS------------------------------------------------*/

.listarForm{
    width: 500px;
}

#fieldsetUsuarios{
    color: white;
    font-size: 26px;
    padding: 15px;
    display: block;
}

.contenedorUsuarioListar{
    padding: 10px 0;
}

.contenedorUsuario p{
    text-align: left;
}

.contenidoUsuario, .contenidoUsuarioBorrar{
	text-align: left;
	border: 1px solid white;
	font-size: 16px;
	font-family: sans;
	padding: 10px;
    transition: all 300ms;
}

/*---------------------------------------------BORRAR USUARIOS------------------------------------------------*/

.contenedorUsuarioBorrar{
    padding: 10px 0;
    transition: all 300ms;
    cursor: pointer;
    margin: 20px 0;
}

.contenedorUsuarioBorrar:hover{
    background-color: white;
    color: black
}

.contenidoUsuarioBorrar:hover{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#fieldsetUsuariosBorrar{
    color: white;
	font-size: 26px;
	padding: 15px;
	display: block;
}

#envio{
    display: none;
}