@font-face {
	font-family: 'Pacifico-Regular';
	src: url('../../fuentes/Pacifico/Pacifico-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'Playfair_Display';
	src: url('../../fuentes/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')  format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fuentes/Montserrat-VariableFont_wght.ttf')  format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Roboto&display=swap');

*{
margin: 0;
padding: 0;
}

body {
	background-image: url('../../imagenes/settings.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -250px;
    background-attachment: fixed;
}

#full_container{
padding-left: 100px;
padding-right: 100px;
padding-bottom: 52px;
background-color: rgba(0, 0, 0, 0.5);
}

#full_container_datosMod{
	padding-left: 100px;
	padding-right: 100px;
	width: calc(100vw -200px);
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

header{
z-index: 1;
position: relative;
}

#headerTable{
width: 100%;
margin: 0px auto;
padding: 12px 0px;
text-align: center;
}

#logo{
color: white;
font-size: 2.8vw;
}

#logo > p{
font-family: 'Pacifico-Regular';
}

#logo > img{
width: 100%;
border-radius: 4px;
}

.idioma{
position: relative;
background-color: #0071c2;
padding: 10px;
margin: 10px;
color: white;
font-family: sans-serif;
border-radius: 4px;
text-decoration: none;
}

.volver {
background-color: #0071c2;
padding: 10px 20px;
color: white;
border-radius: 4px 0px 4px 0px;
font-family: sans-serif;
text-decoration: none;
box-shadow: inset 2px 2px 0px white, inset -2px -2px 0px #ffffff85;
transition: all 50ms;
}

.volver:hover{
background-color: white;
border: 2px solid #0071c2;
padding: 12px 22px;
color: #0071c2;
box-shadow: none;
font-size: 18px;
}

.cajaPerfil{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 41px;
	background-color: white;
	border: 1px solid #0071c2;
	padding: 0 10px;
	color: #0071c2;
	font-family: sans-serif;
}

.perfil{
	position: relative;
	display: block;
	left: 0px;
	padding-right: 5px;
	width: 30px;
	height: 30px;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

#form-container{
	width: 500px;
}

form{
	background: #000000bd;
	margin: 0px auto;
	padding: 20px;
	border-radius: 5px;
}

fieldset{
	color: white;
	font-size: 26px;
	text-align: center;
}

fieldset input{
	width: calc(90% - 10px);
}

#label-p{
	color: white;
	font-size: 16px;
	margin: 0 24px;
	text-align: justify;
	padding-top: 10px;
}

#patron{
	color: white;
	font-size: 12px;
	margin: 0 24px;
	text-align: justify;
}

#iniciar{
	width: auto;
	margin-top: 20px;
	background-color: #0071c2;
	text-decoration: none;
	border-radius: 3px;
	color: white;
	padding: 7px 17px;
	border:none;
	margin-bottom: 20px;
	cursor: pointer;
}